.titulo{
    color: rgb(97, 134, 97);
    margin-top: 20px;
}
#contenedor{
    border: 1px solid gray;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 14px;
}
.overItem{
    padding: 6px;
    background-color: rgb(189, 228, 228);
    color: rgb(117, 89, 47);
}
#contenedor>div{
    margin-bottom: 6px;
    margin-left: 12px;
}

.seleccionar{
    background-color: yellowgreen;
}